/* Example styling of a h1 element */
h1 {
  color: white;
}
.paragraph1 {
  color: rgb(49, 6, 38);
}
.paragraph2{
  color: rgb(87, 18, 69);
}
body {
  background-color: rgb(94, 92, 92);
}
a {
  font-weight: bold;
  text-align: center;
  color: aquamarine;
}